[Desktop Entry]
Type=Application
X-Nemo-Application-Type=Silica
Icon=harbour-navalbattle
Exec=harbour-navalbattle
Name=Naval Battle
Name[hu]=Torpedó

[X-Sailjail]
Permissions=Audio
OrganizationName=harbour
ApplicationName=harbour-navalbattle
